In [2]:
from data_warp.connectors.file_connector import FileConnector

In [3]:
from data_generator import DataGenerator

In [4]:
generator_file = DataGenerator(num_rows=10000)

In [5]:
# Fetch the #default file format
FileConnector(generator_file.to_csv_file()).fetch().head()
FileConnector(generator_file.to_excel_file()).fetch().head()
FileConnector(generator_file.to_json_file()).fetch().head()
FileConnector(generator_file.to_parquet_file()).fetch().head()

,id,hash_id,name,address,datetime,date,int_field,float_field,text_field,string_field
0,1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,Alice Brown,"483 Cedar Ave, Phoenix",2025-02-01 17:43:16,2025-02-01,8211,466.880282,adipiscing sit amet sit amet,amet
1,2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Bob Brown,"8239 Maple Ave, Phoenix",2012-05-31 05:26:47,2012-05-31,9335,628.202743,consectetur adipiscing amet consectetur consec...,dolor
2,3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Charlie Garcia,"3599 Oak St, Houston",2007-03-21 10:42:56,2007-03-21,8565,312.719842,amet dolor consectetur elit dolor,amet
3,4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Alice Davis,"1828 Pine St, Chicago",2019-07-06 15:58:48,2019-07-06,5091,669.503191,dolor ipsum sit ipsum ipsum,amet
4,5,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,Alice Smith,"7918 Cedar Ave, New York",2015-09-18 11:44:26,2015-09-18,7791,48.412922,adipiscing consectetur lorem elit dolor,sit

In [6]:
# fetch_batch #default file format
FileConnector(generator_file.to_csv_file()).fetch_batch()[0].head()
FileConnector(generator_file.to_json_file()).fetch_batch()[0].head()
FileConnector(generator_file.to_parquet_file()).fetch_batch()[0].head()

,id,hash_id,name,address,datetime,date,int_field,float_field,text_field,string_field
0,1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,Alice Brown,"483 Cedar Ave, Phoenix",2025-02-01 17:43:16,2025-02-01,8211,466.880282,adipiscing sit amet sit amet,amet
1,2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Bob Brown,"8239 Maple Ave, Phoenix",2012-05-31 05:26:47,2012-05-31,9335,628.202743,consectetur adipiscing amet consectetur consec...,dolor
2,3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Charlie Garcia,"3599 Oak St, Houston",2007-03-21 10:42:56,2007-03-21,8565,312.719842,amet dolor consectetur elit dolor,amet
3,4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Alice Davis,"1828 Pine St, Chicago",2019-07-06 15:58:48,2019-07-06,5091,669.503191,dolor ipsum sit ipsum ipsum,amet
4,5,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,Alice Smith,"7918 Cedar Ave, New York",2015-09-18 11:44:26,2015-09-18,7791,48.412922,adipiscing consectetur lorem elit dolor,sit

In [7]:
FileConnector(generator_file.to_parquet_file()).fetch_batch()[0].head()["hash_id"][0]

'6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b'

In [8]:
FileConnector(generator_file.to_json_file(), reader="builtin").fetch_batch()

In [9]:
connector = FileConnector(file_path=generator_file.to_json_file(), file_type="json", source="local", reader="builtin")
batches = connector.fetch_batch()
flatten_batch = batches.flatten_to_list()
type(flatten_batch)
len(flatten_batch)
isinstance(flatten_batch, list)
#batches.to_dataframe()

True

In [9]:
# fetch_batch #built-in file format
FileConnector(generator_file.to_csv_file(), reader="builtin").fetch_batch()
#json has various additional methods to deal with large files and useful for ad-hoc filter
#search
list(FileConnector(generator_file.to_json_file(), reader="builtin").fetch_batch().search(lambda rec: rec.get("hash_id")=="6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d49c01e52ddb7875b4b"))
#filter
filtered = FileConnector(generator_file.to_json_file(), reader="builtin").fetch_batch().filter_batches(lambda rec: rec[0].get("int_field") < 8516)
# print("filtered", filtered.next())
# Map batches:
mapped =  FileConnector(generator_file.to_json_file(), reader="builtin").fetch_batch().map_batches(
    lambda batch: [rec for rec in batch if rec.get("date") < "2002-07-06"]
)
# for batch in mapped:
#     print("Mapped batch:", batch)

FileConnector(generator_file.to_json_file(), reader="builtin").fetch_batch().to_dataframe().head()

# FileConnector(generator_file.to_parquet_file(), reader="builtin").fetch_batch()[0].head()

,id,hash_id,name,address,datetime,date,int_field,float_field,text_field,string_field
0,1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,Alice Brown,"483 Cedar Ave, Phoenix",2025-02-01T17:43:16.000,2025-02-01T00:00:00.000,8211,466.880282,adipiscing sit amet sit amet,amet
1,2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Bob Brown,"8239 Maple Ave, Phoenix",2012-05-31T05:26:47.000,2012-05-31T00:00:00.000,9335,628.202743,consectetur adipiscing amet consectetur consec...,dolor
2,3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Charlie Garcia,"3599 Oak St, Houston",2007-03-21T10:42:56.000,2007-03-21T00:00:00.000,8565,312.719842,amet dolor consectetur elit dolor,amet
3,4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Alice Davis,"1828 Pine St, Chicago",2019-07-06T15:58:48.000,2019-07-06T00:00:00.000,5091,669.503191,dolor ipsum sit ipsum ipsum,amet
4,5,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,Alice Smith,"7918 Cedar Ave, New York",2015-09-18T11:44:26.000,2015-09-18T00:00:00.000,7791,48.412922,adipiscing consectetur lorem elit dolor,sit

In [4]:
import pandas as pd
import tempfile
def csv_file():
    with tempfile.NamedTemporaryFile(suffix=".csv", delete=False) as f:
        df = pd.DataFrame({"name": ["Alice", "Bob"], "age": [25, 30]})
        df.to_csv(f.name, index=False)
        return f.name

In [5]:
FileConnector(file_path=str(csv_file()), source="local")

In [6]:
FileConnector(file_path=str(csv_file()), source="local").fetch()

    name  age
0  Alice   25
1    Bob   30

In [7]:
import tempfile
import json

def json_file():
    with tempfile.NamedTemporaryFile(suffix=".json", delete=False) as f:
        data = {"name": ["Alice", "Bob"], "age": [25, 30]}
        with open(f.name, 'w') as json_f:
            json.dump(data, json_f)
        return f.name

In [32]:
json_file()

'C:\\Users\\datta\\AppData\\Local\\Temp\\tmp8qnv5w1v.json'

In [ ]:
json_data
assert isinstance(json_data, pd.DataFrame)
assert json_data['name'] == ["Alice", "Bob"]

In [40]:
import numpy as np
np.array(["Alice", "Bob"])

array(['Alice', 'Bob'], dtype='<U5')

In [37]:
json_data['name']

0    Alice
1      Bob
Name: name, dtype: object

In [ ]:
FileConnector().download_file('https://www.kaggle.com/c/3136/download-all', 'data.zip')

In [30]:
from pathlib import Path
from typing import List
import click

def generate_large_dataset(
    num_rows: int,
    num_files: int,
    output_dir: str,
    file_format: str = "parquet"
) -> List[str]:
    """Generate large test datasets."""
    file_paths = []
    rows_per_file = num_rows // num_files
    
    with click.progressbar(
        range(num_files),
        label=f'Generating {num_files} {file_format} files',
        item_show_func=lambda x: f'File {x}' if x is not None else ''
    ) as bar:
        for i in bar:
            df = pd.DataFrame({
                'id': range(i * rows_per_file, (i + 1) * rows_per_file),
                'value': np.random.randn(rows_per_file),
                'category': np.random.choice(['A', 'B', 'C'], rows_per_file),
                'timestamp': pd.date_range(start='2024-01-01', periods=rows_per_file, freq='S')
            })
            
            file_path = Path(output_dir) / f'data_{i}.{file_format}'
            if file_format == 'parquet':
                df.to_parquet(file_path, engine='pyarrow', compression='snappy')
            elif file_format == 'csv':
                df.to_csv(file_path, index=False)
            elif file_format == 'json':
                df.to_json(file_path, orient='records', lines=True)
                
            file_paths.append(str(file_path))
    return file_paths

In [31]:
import shutil
import tempfile
from typing import List, Generator
from contextlib import contextmanager

@contextmanager
def test_data_dir() -> Generator[str, None, None]:
    """Create a temporary directory for test data."""
    temp_dir = tempfile.mkdtemp()
    yield temp_dir
    shutil.rmtree(temp_dir)

In [32]:
import os
import io
import logging
from typing import Any, Dict, Iterator, List, Optional, Union
from abc import ABC, abstractmethod

class FileSource(ABC):
    """Abstract base class for different file sources."""

    @abstractmethod
    def fetch(self, file_path: str, **kwargs: Any) -> Union[io.BytesIO, str]:
        """Fetch data from the specified source."""
        pass

    @abstractmethod
    def stream(self, file_path: str, chunk_size: int = 1024 * 1024, **kwargs: Any) -> Any:
        """Stream data from the specified source in chunks."""
        pass


class LocalFileSource(FileSource):
    """Fetch data from local file storage."""

    def fetch(self, file_path: str, **kwargs: Any) -> Union[io.BytesIO, str]:
        if not os.path.exists(file_path):
            raise FileNotFoundError(f"File not found: {file_path}")
        return file_path

    def stream(self, file_path: str, chunk_size: int = 1024 * 1024, **kwargs: Any) -> Any:
        with open(file_path, "rb") as file:
            while chunk := file.read(chunk_size):
                yield chunk

def get_source_handler(source: str, **kwargs):
    """Get the appropriate file source handler."""
    handlers = {
        "local": LocalFileSource()
    }
    if source not in handlers:
        raise ValueError(f"Unsupported file source: {source}")
    return handlers[source]

In [33]:
total_rows = 0
batch_sizes = []
import pandas as pd
import numpy as np
import click
from data_buddy.connectors.file_connector import FileConnector

with click.progressbar(length=100000,label='Processing json batches') as bar:
    with test_data_dir() as temp_dir:
        file_paths = generate_large_dataset(num_rows=100000,num_files=1,output_dir=temp_dir,file_format= "json")
        source_handler = get_source_handler("local")
        file_obj = source_handler.fetch(file_paths[0])
        print("file_obj: ", file_obj)
        print(pd.read_json(file_obj, lines=True))

        # connector = FileConnector(file_paths[0], file_type="parquet")
        connector = FileConnector(file_paths[0], file_type='json')
        print(connector.fetch_batch(batch_size=100000))
        for batch in connector.fetch_batch(batch_size=100000):
            total_rows += len(batch)
            batch_sizes.append(len(batch))
            bar.update(len(batch))

# assert total_rows == 100000

Processing json batches
Generating 1 json files
file_obj:  C:\Users\datta\AppData\Local\Temp\tmp6svqit7r\data_0.json

C:\Users\datta\AppData\Local\Temp\ipykernel_59916\1476258736.py:25: FutureWarning: 'S' is deprecated and will be removed in a future version, please use 's' instead.
  'timestamp': pd.date_range(start='2024-01-01', periods=rows_per_file, freq='S')

          id     value category           timestamp
0          0 -1.987626        A 2024-01-01 00:00:00
1          1 -2.306084        C 2024-01-01 00:00:01
2          2 -1.568017        B 2024-01-01 00:00:02
3          3  0.070322        C 2024-01-01 00:00:03
4          4 -0.637974        B 2024-01-01 00:00:04
...      ...       ...      ...                 ...
99995  99995 -0.681565        A 2024-01-02 03:46:35
99996  99996 -0.286041        C 2024-01-02 03:46:36
99997  99997  0.539834        A 2024-01-02 03:46:37
99998  99998 -0.221162        B 2024-01-02 03:46:38
99999  99999 -0.198825        B 2024-01-02 03:46:39

[100000 rows x 4 columns]
[          id     value category           timestamp
0          0 -1.987626        A 2024-01-01 00:00:00
1          1 -2.306084        C 2024-01-01 00:00:01
2          2 -1.568017        B 2024-01-01 00:00:02
3          3  0.070322        C 2024-01-01 00:00:03
4          4 -0.637974        B 2024-01-01 00:00:04
...      ...       ...      ...                 ...
99995  99995 -0.681565        A 2024-01-02 03:46:35
99996  99996 -0.286041        C 2024-01-02 03:46:36
99997  99997  0.539834        A 2024-01-02 03:46:37
99998  99998 -0.221162        B 2024-01-02 03:46:38
99999  99999 -0.198825        B 2024-01-02 03:46:39

[100000 rows x 4 columns]]

In [ ]:
connector = FileConnector(file_paths[0], file_type="parquet")
total_rows = 0
batch_sizes = []

with click.progressbar(
    length=100000,
    label='Processing parquet batches'
) as bar:
    for batch in connector.fetch_batch(batch_size=100000):
        total_rows += len(batch)
        batch_sizes.append(len(batch))
        bar.update(len(batch))

assert total_rows == 100000

In [ ]:
shutil.rmtree(temp_dir)

In [39]:
import tempfile
import json
import os
def json_file_array():
    # This JSON file is a JSON array.
    data = [{"a": 1}, {"a": 2}]
    with tempfile.NamedTemporaryFile(suffix=".json", delete=False, mode="w") as f:
        json.dump(data, f)
        connector = FileConnector(file_path=f.name, file_type="json", source="local", reader="builtin")
        batches = connector.fetch_batch(batch_size=1)
    #os.unlink(f.name)
    return batches

In [41]:

batches = json_file_array()
batches.to_dataframe()

   a
0  1
1  2

In [27]:

connector = FileConnector(file_path=list(json_file_array())[0], file_type="json", source="local", reader="builtin")
batches = connector.fetch_batch(batch_size=1)

RecursionError: maximum recursion depth exceeded while calling a Python object